@import 'colors';
@import 'mixin';
@import 'variables';
@import 'layout';
@import 'components';
@import 'override';

//폰트 설정
@import 'font-awesome/scss/font-awesome.scss';

@import '@fortawesome/fontawesome-free/css/all.css';
@font-face {
  font-family: 'Pretendard';
  font-style: normal;
  font-weight: 500;
  src: url('/Pretendard-Regular.woff') format('woff');
}

:root {
  font-family: 'Pretendard, noto sans kr', sans-serif;
  background: #000;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}
